.landing-container {
  height: 100vh; /* Ocupa toda la altura de la pantalla */
  display: flex;
  justify-content: end; /* Centra horizontalmente el contenido */
  align-items: center; /* Centra verticalmente el contenido */
  background-image: url('/img/110.png'); /* Imagen de fondo */
  background-size: cover; /* Ajusta la imagen para cubrir todo el contenedor */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-attachment: fixed; /* La imagen permanece fija al hacer scroll */
}
.landing-text h1{
  text-align: end;
  color: black;
  margin-right: 2rem;
  margin-top: -7rem;
}

.landing-text h1 span{
  font-weight: 300;
  margin-left: 5rem;
}

.landing-form{
  background-color: rgba(255, 255, 255, 0.75);
  width: 22rem;
  height: 30rem;
  border-radius: 2rem;
  padding: 2rem;
  margin-right: 22%;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}