<div class="Contenido">
  <!-- Mostrar los productos del carrito -->
  <div *ngIf="carrito.length > 0">
    <h2 class="text-center my-4">Carrito de compras</h2>
    <div class="row">
      <div *ngFor="let producto of carrito" class="col-12 col-md-6 col-lg-4 mb-4">
        <div class="card shadow-sm" style="margin: .5rem; padding: 1rem;">
          <div class="row no-gutters">
            <!-- Imagen del producto a la izquierda -->
            <div class="col-3">
              <img [src]="'http://localhost:3000' + producto.imagen" alt="{{ producto.nombre_producto }}" class="card-img-left">
            </div>
            <!-- Información del producto a la derecha -->
            <div class="col-9">
              <div class="card-body d-flex flex-column justify-content-between">
                <h5 class="card-title">{{ producto.nombre_producto }}</h5>
                <p class="card-text">Precio: {{ producto.precio_normal }} </p>
                <p class="card-text">Cantidad: {{ producto.cantidad }}</p>
              </div>
            </div>
            <div class="col-12">
              <div class="d-flex justify-content-between mt-auto">
                <button (click)="aumentarCantidad(producto)" class="btn btn-primary">+</button>
                <button (click)="disminuirCantidad(producto)" class="btn btn-warning">-</button>
                <button (click)="eliminarProducto(producto)" class="btn btn-danger">Eliminar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Botón de "Ir a comprar" -->
    <div class="text-center" style="margin-bottom: 7rem;">
      <button (click)="irAComprar()" class="btn btn-success">Ir a comprar</button>
    </div>
  </div>

  <!-- Mensaje cuando el carrito está vacío -->
  <div *ngIf="carrito.length === 0" class="text-center my-5">
    <h2>Tu carrito está vacío</h2>
  </div>

  <!-- Menú flotante -->
  <app-floating-menu></app-floating-menu>
</div>
