:host {
    background-color: #34495e; // Color de fondo del header
    color: white; // Color del texto
    padding: 15px; // Espaciado
    display: flex;
    justify-content: space-between; // Espacio entre elementos
    align-items: center; // Centrar verticalmente
  }
  