<div class="modal-overlay d-flex justify-content-center align-items-center">
  <div class="modal-content bg-white rounded p-4 shadow-lg w-75">
    <h2 class="text-center text-purple">Selecciona tu ubicación</h2>
    <p class="text-center">Elige entre las siguientes opciones:</p>
    
    <div class="d-flex justify-content-center mt-3">
      <button class="btn btn-purple mx-2" (click)="selectLocation('Lima')">Lima</button>
      <button class="btn btn-purple mx-2" (click)="selectLocation('Trujillo')">Trujillo</button>
    </div>
  </div>
</div>
